@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

$font-family-base: "Inter", sans-serif;

$font-size-body: 0.75rem; // 12px
$font-size-headline-1: 1.25rem;
$font-size-headline-2: 0.875rem;

$line-height-body: 0.9375rem;
$line-height-headline-1: 1.25rem;
$line-height-headline-1: 1.0625rem;
